Multivalued server cookies should be seen as a single semi colon separated header

### Cross posted issue

https://github.com/vert-x3/vertx-web/issues/412

I apologize, initially i posted this to vertx-web, as i suspected the issue was in  `CookieHandler` code, but now I'm sure the issue is in vertx core code, as http headers parsing is done by vertx-core


### Version

* vert.x core: 3.3.0
* vert.x web: 3.3.0
* SSL and ALPN with netty-tncnative: 1.1.3
* netty: 4.1.1

### Context

If a client got multiple cookies to send in a request, and ALPN is on and the request is issued with HTTP/2, the vert.x server cannot read correctly the cookie header nor the `CookieHandler` works fine.

It gets just one Cookie of many (a random one as they're sent in random order by browser as per specs)

This is due to the fact that Http/2 sends cookies in multiple COOKIE headers and not anymore in a single semicolon separated field.

Please add conversion in a single ; separated header using Netty's  `HttpConversionUtil` as Netty's  has already provided that solution to this issue, see: https://github.com/netty/netty/issues/4457


### Steps to reproduce

1. Enable HTTPS and ALPN on a Vert.x server
2. Use latest version of google chrome and ensure you're negotiating `http/2` (e.g. check with _'http/2 and spdy indicator extension'_)
3. Using the _'cookie inspector extension'_ or whatever, add some cookie name-value pairs to simulate a request with multiple cookies set
4. Refresh the test page and debug if you can get all the test cookie pairs at server using a `CookieHandler` or with a raw `logger.info("All headers "+  new JsonArray(request.headers().entries()).encodePrettily());`
5. You'll get just 1 cookie of the many, if you repeat the request or delete some cookie you can have it in random rotation, but never more than one cookie  per request is readable to vert.x


### Extra

This issue can cause authentication/session issues too


hi @creativeprogramming is it possible you contribute a test reproducing it for this ?

@vietj better, I've also a solution to inspire you for a fix (raw solution i overrided a class from vert-x core), will post both soon 

@creativeprogramming if you can provide the full fix it's even better, I will just review it

have you read the contribution guidelines ?

Hi @vietj yes i read guidelines now :)  but I've not time to be so clever.

I'm reporting this issue cause I need to use vertx in a new real project i've to release in production with http/2 enabled soon, so I'd to fix it in some way, it will be good for me to have the fix in next vertx versions and to 'contribute' reporing it in order help some folks that may experience it, but I'm not looking to be an 'official contributor', not for the glory ;)

 so I made the PR just to give you some cue, but no offence if you'll not merge mine and redo the fix in a more elegant way in the future

Do you really need me to give you a test? I'm trying a junit test but it's to complex to simulate a real http/2 request for me, I'm not good in writing tests.

At max I can give you a sample maven vertx project that is ready to reproduce the issue if you follow the 'steps to reproduce' and navigate with google chrome, but as i get it also with vertx default settings I don't know if it make sense, and it's complex to include an SSL certificate for a test as i don't know where you can run it

reproducer is fine

@pmlopes what's your take on this ?

should the cookie code in vertx-web behave differently for HTTP/2, i.e use the List<String> instead ? 

I'd prefer a unified API, both http and h2 returning a list of cookies (since the header is sometimes abused with the semicolon hack).


do you mean that HTTP/1.x should be changed to return a List<String> or that HTTP/2 should be made behaving like HTTP/1.x ?

yes. I'd say either use the `web` api style:

```java
@Nullable Cookie getCookie(String name);
RoutingContext addCookie(Cookie cookie);
RoutingContext removeCookie(Cookie cookie);
Set<Cookie> cookies();
int cookieCount();
```

Or just a subset such as:
```java
Set<Cookie> cookies();
int cookieCount();
```

Since order should not matter.

I mean rather concerning the behavior of MultiMap in vertx-core

Since we don't really care if we're running on HTTP1/1 or HTTP2 my preference is to have a unified API. Looking at core by itself headers are returned as `MultiMap` which is fine since a header key can be either 1 value or a set of values.

Cookies are just a convention based on headers, in HTTP1/1 its just 1 header and due to the fact that people wanted to use more than 1 header it started to be abused with the `;` trick so people expect it to be a set anyway.

With H2 this got fixed with a cookies being a list. So no more need for the hack. I think that this can be fixed in core by checking the protocol version and load the correct parser, something like:

```java
   public MultiMap headers() {
     synchronized (conn) {
       if (headersMap == null) {
          if (version < 2){
             headersMap = new HeadersAdaptor(headers);
          }else{
            headersMap = new Http2HeadersAdaptor(headers);
          }
       }
       return headersMap;
     }
```

API wise it should remain the same, now on vertx-web we were already considering cookies to be a set anyway we just need to verify and update the `CookieHandler` to perform the reverse operation:

```java
if (version < 2) {
  join_all_cookies_with_semicolon_in_single_header()
} else {
  add_each_one_to_the_list()
}
```

we already have this behavior in vertx-core (i.e different headers adaptor for protocols). so my question is:

- do we want to split the Cookie header in case of HTTP/1 in vertx-core and transform it to a list, so values always come as a list
- on the contrary do we want to "join" the cookies headers in a single header in case of HTTP/2
- or third option we handle specially the Cookie header in the adaptor for HTTP/1
   - get("Cookie") returns the ";" separated list as it is now
   - getAll("Cookie") returns the split list




I don't think we should change core since if we do then we introduce a semantic change on the protocol. I think that on HTTP1 it should be a single header and on H2 multiple.

Now I think that we could handle the variations for cookies on the CookieHandler. If we do so, I believe we don't break any API. The handler will check if we're using HTTP1 then try to split the cookies (as it is currently) else it will pick all cookies from the list.


As i said cookies are a convention. They are a plain header so i don't think core should deal with that since it will make handling of cookies an opinionated task.

@pmlopes so you mean that the fix should be fully in Vert.x web ? (option 1)

> I don't think we should change core

Sorry if i intromise again, but i've to point that this issue is a **bug** in the current vertx-core `Http2HeadersAdaptor `as it is probably using a Map internally so it is not able to parse http/2 cookie headers when them are multiple.

>They are a plain header so i don't think core should deal with that since it will make handling of cookies an opinionated task.

https://http2.github.io/http2-spec/
> The Cookie header field [COOKIE] is treated specially by the HTTP mapping (see Section 8.1.2.5).


In http/2  them are not so 'plain header':  unlike any other http header that has an **unique** header-name, multipl cookie headers have all the same header name:

https://http2.github.io/http2-spec/#CompressCookie
> 8.1.2.5 Compressing the Cookie Header Field
> 
> The Cookie header field [COOKIE] uses a semi-colon (";") to delimit cookie-pairs (or "crumbs"). This header field doesn't follow the list construction rules in HTTP (see [RFC7230], Section 3.2.2), which prevents cookie-pairs from being separated into different name-value pairs. This can significantly reduce compression efficiency as individual cookie-pairs are updated.
> 
> To allow for better compression efficiency, the Cookie header field MAY be split into separate header fields, each with one or more cookie-pairs. If there are multiple Cookie header fields after decompression, these MUST be concatenated into a single octet string using the two-octet delimiter of 0x3B, 0x20 (the ASCII string "; ") before being passed into a non-HTTP/2 context, such as an HTTP/1.1 connection, or a generic HTTP server application.
> 
> Therefore, the following two lists of Cookie header fields are semantically equivalent.
> 
>   cookie: a=b; c=d; e=f
> 
>   cookie: a=b
>   cookie: c=d
>   cookie: e=f


So parsing them with the MultiMap (in vertx-core) you'll get the Map key overwritten at each`Map.put("cookie",<String "name=value">)` operation, for this reason you've a bug in vertx-core parsing them

So maybe @vietj  is talking about using a `List `in order to avoid the `Map key` issue for those special headers, please try my reproducer and the raw fix using the netty adapter

https://github.com/eclipse/vert.x/pull/1508

the netty strategy is to transform http/2 multiple cookie headers into a ';' separated unique header

@vietj 
> on the contrary do we want to "join" the cookies headers in a single header in case of HTTP/2

and that is not a semantic change

@pmlopes 
> I don't think we should change core since if we do then we introduce a semantic change on the protocol. 

because of http/2 specs that anyway allow legacy ';' separated cookie header:

> Therefore, the following two lists of Cookie header fields are semantically equivalent.
 
```
   cookie: a=b; c=d; e=f
 
   cookie: a=b
   cookie: c=d
   cookie: e=f
```

My PR is not the solution I recommend as final, but  just a part of the 'reproducer' with a solution to demonstrate that the vertx-core parser is buggy in handling multiple cookie headers for http/2, and even if cookie are just convention, they are damnly needed in webapps nowadays, not just for advertising or collecting user preferences, even for security purposes (e.g. session tokens are often holded client side with not just one, but multiple cookies cookie values like Facebook and Google are doing to make more difficult session hijacking )  

So i think vertx core should be fixed urgently on this bug in the parsing of the http/2 multiple cookie headers as it's surely breaking some app, test your own apps right now with http/2 and probably - the client side got more than one cookie, eg. as simple as google analytics installed to collect stats - you'll have random server side issues like random logouts etc.



Even github.com session implementation is using multiple cookies for the session token security:
![image](https://cloud.githubusercontent.com/assets/954291/17337081/7d711d18-58e1-11e6-91ca-f0b70b3b924a.png)


@creativeprogramming it seems that indeed joining the cookie values in a single cookie header is the right thing to do. Thanks for pointing this out.

So we agree on merging cookies at `core` and therefore no changes would be required to `web`. How close to this was the demostration PR?

yes we agree

Hi,

@creativeprogramming can you check with this branch it solves the problem ?

https://github.com/eclipse/vert.x/commit/c54d6bcdcea88fe6d236aabfcabc37882c70f9a4